{% extends 'base.html' %}

{% block 'content' %}
<div class="container bg-pudin px-5 py-4">
    <h3 class="mb-3">Sobre Nosotros</h3>
    <p class="p-about pt-2 pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo praesentium exercitationem odio modi numquam cupiditate beatae nihil fugit quidem neque voluptatem tempore mollitia, esse assumenda saepe quasi maxime ea nemo nisi alias adipisci doloribus molestiae consectetur! Nesciunt quos excepturi, voluptate ut provident voluptatum sed asperiores aut est et. Odio consectetur odit accusantium amet obcaecati? <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque consequuntur incidunt voluptas at nihil nam est voluptatibus ullam odit itaque amet fuga maiores facilis dolorem error praesentium minima laborum autem, nostrum vitae!</p>
</div>
{% endblock %}