{% extends 'base.html' %}

{% block 'content' %}
<div class="container bg-pudin px-5 py-4">
    {% if messages %}
    {% for messages in messages %}
    <div class="mb-4 fs-5 alert alert-light {{messages.tags}}" role "alert">
        {{ messages }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% block 'search' %}
    {% include 'search_flan.html' %}
    {% endblock 'search' %}

    <div class="row">
        <div class="h-100 p-5 text-white bg-pudin2 mt-5 rounded-3">
            <h3>Flanes Exclusivos para {{ user.username }}</h3>
            <p>Tenemos una lista de productos exclusivos para ti. ¿Quieres conocer más?</p>
            <a href="{% url 'contacto' %}" class="btn btn-caramel">Contáctanos</a>
        </div>

        {% for flan in private_flans %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="{{ flan.img_url }}" class="d-block img-fluid w-100"
                    alt="Al rico flan">
                <div class="card-body">
                  <h5 class="card-title" id="hola">{{ flan.name }}</h5>
                  <p class="card-text">{{ flan.description }}</p>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}